<main class="site-main">
  <div class="wrap">
    <h1>{{title}}</h1>
    <div class="artist-grid">
      {{#each allArtists}}
      <div class="col">
        {{#if this.images.0.url}}
        <img src={{this.images.0.url}}>
        {{else}}
        <img src="/images/placeholder-image.jpg">
        {{/if}}
        <div class="caption">
          {{this.name}}
          <a href="/albums/{{id}}">View More</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>